<h2>SDES</h2>
<div class="jumbotron" style="color:darkblue">
    <h2 class="display-3"> CIFRADO</h2>
    <h4 class="display-3"> Cifre el archivo que desee</h4>
    <p class="lead">
        <h4><button type="button" onclick="location.href= '@Url.Action("CargaParaCifrar","SDES")'">Cifrar </button></h4>
    </p>
</div>
<div class="jumbotron" style="color:darkblue">
    <h2 class="display-3"> DESCIFRADO</h2>
    <h4 class="display-3"> Descifre el archivo que desee</h4>
    <p class="lead">
        <h4><button type="button" onclick="location.href= '@Url.Action("CargaParaDescifrar","SDES")'">Descifrar </button></h4>
    </p>
</div>
