
@{
    ViewBag.Title = "Index";
}

<h2>Cifrado ZIG-ZAG</h2>
<div class="jumbotron">
    <h1>Eleccion de operacion</h1>

    <table class="table table-bordered table-responsive table-hover">
        <tr class="table-hover">
            <td>
                @Html.ActionLink("Cifrar por ZigZag", "CargaCifradoZZ")
            </td>
            <td>
                @Html.ActionLink("Descifrar por ZigZag", "CargaDescifradoZZ")
            </td>
        </tr>
    </table>
</div>

