@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Metodos</h1>

    <table class="table table-bordered table-responsive table-hover">
        <tr class="table-hover">
            <td>
                @Html.ActionLink("Zig Zag", "LlamadoZigZag")
            </td>
        </tr>
    </table>
</div>

