
@{
    ViewBag.Title = "CargaCifradoC";
}
<h2>Carga de archivo</h2>
<div class="jumbotron">
    <p class="lead">
        @using (Html.BeginForm("CargaCifradoC", "Cesar", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <p>Clave:</p>
        <input type="text" name="Clave" />

        <hr />

        <p>Archivo a cifrar:</p>

        <input type="file" name="ACifrarC" />
        <input type="submit" value="Subir" class="btn btn-outline-success" />
    }
        <h6>@ViewBag.Msg</h6>
    </div>


